<section class="main-content" ng-init="setPasswordInit()">
  <div class="container-fluid">
    <div class="alert alert-info" ng-if="!setPassData.email">
      <strong><h1>Info!</h1></strong> <h3>Session has been expired , try with new link!.</h3>
    </div>
  </div>
    <div class="container-fluid" ng-if="setPassData.email">
        <div class="row">
            <div class="col-md-12 col-xs-12 gutter">
                <div class="region">
                    <div class="col-md-12 clearfix">
                        <h2>Set Password</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="spacer25"></div>
        <div class="region">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <form class="form-horizontal" novalidate name="form" >
                        <div class="form-group" >
                            <label for="inputEmail" class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12">Email</label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <span>{{setPassData.email}}</span>
                                <!-- <input type="password" ng-model="setPassForm.password" class="form-control" name="password" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}/" maxlength="20" required=""> -->

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12">New Password</label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <input type="password" ng-model="setPassForm.password" class="form-control" name="password" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}/" maxlength="20" required="">
                                    <div ng-show="form.$submitted || form.password.$touched">
                                            <span class="text-danger" ng-show="form.password.$error.required" class="text-danger">Please enter password
                                            </span>
                                            <span class="text-danger" ng-show="form.password.$error.pattern && form.password.$invalid">Passwords should be at least 6 characters and contain one capital letter and special character (!@$, or whatever they are).</span>
                                        </div>
                                </div>
                            </div>
                        <div class="form-group">
                            <label for="inputEmail" class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12">Confirm Password</label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <input type="password" class="form-control" name="verify" ng-model="setPassForm.confirm_password" valid-password-c="setPassForm.password" maxlength="20">
                                    <div ng-show="form.$submitted || form.verify.$touched">
                                     <span class="text-danger"  ng-show="form.verify.$error.required" class="text-danger">Confirm password is required</span>
                                     <span class="text-danger" ng-show="!form.verify.$error.required && form.password && form.verify.$invalid">Confirm password does not match</span>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-lg-offset-3 col-lg-6 col-sm-offset-3 col-sm-offset-6 col-xs-12">
                                <button type="submit" ng-disabled="disableSbmtBtn" ng-click="setPassword(form)" class="submit_btn"><i ng-show="loader" class="fa fa-spinner fa-spin"></i>Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="spacer75"></div>
    </div>
</section>
